@import "~bulma/sass/utilities/initial-variables";
$section-padding: 2rem 0.5rem;
$primary:#FBAC94;
$text: hsl(0, 0%, 45%);
$button-color: hsl(0, 0%, 45%);
$family-primary: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
@import "~bulma/bulma";
